{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="cart-page">
    <div class="content">
        <h3>Thank You<span>For Visiting</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, fuga quasi officiis vel qui excepturi? Voluptas recusandae quos officia ratione eaque dolorem magni. Explicabo rerum libero sunt officiis saepe incidunt atque eligendi.</p>
        <a href="{% url 'index' %}#products" class="btn">Shop more</a>
    </div>
</section>
{% endblock %}